{% extends "base.html" %}

{% block title %}

Inhalte verwalten

{% endblock %}

{% block content %}
<h1 class="title">Klasse auswählen:</h1>

{% if klassen %}
<div class="user-interface-klassen">
    <table class="userTabelle">
        <thead class="userTabelleHeader">
            <tr>
                <th class="userTabelleHeader" style="width: 200px;">Klassen</th>
            </tr>
        </thead>
        <tbody>
            {% for klasse in klassen %}
            <tr>
                <td class="userTabelleCell"><a style="text-decoration: none;" href="{{ url_for('user_interactions.klassen_info', id=klasse['id']) }}">{{ klasse["name"] }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <p class="notFoundMsg">Es sind keine Klassen vorhanden.</p>
{% endif %}

{% endblock %}