{% extends "base.html" %}

{% block title %}

Inhalte verwalten

{% endblock %}

{% block content %}
<h1 class="title">Klasse auswählen:</h1>

{% if klassen %}
<div class="user-interface-klassen">
    <table class="userTabelle">
        <thead class="userTabelleHeader">
            <tr>
                <th class="userTabelleHeader">ID</th>
                <th class="userTabelleHeader">Klasse</th>
            </tr>
        </thead>
        <tbody>
            {% for klasse in klassen %}
            <tr>
                <td class="userTabelleCellID">{{ klasse["id"] }}</td>
                <td class="userTabelleCell"><a href="{{ url_for('user_interactions.klassen_info', id=klasse['id']) }}">{{ klasse["name"] }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <p>Es sind keine Lehrer vorhanden.</p>
</div>
{% endif %}

{% endblock %}