{% extends "base.html" %}

{% block title %}

Kurse einsehen

{% endblock %}

{% block content %}

<div class="user-interface-inhalteEinsehen">
    <div class="title" style="font-size: 17px ;margin-top: 40px; border: 2px solid black;">
        <h1>Kurse:</h1>
    </div>
</div>

<div class="user-interface-kurseEinsehen">
    <div>
        <p class="user-interface-kurseEinsehen-optionen">Mathematik</p>
        <p class="user-interface-kurseEinsehen-optionen">Deutsch</p>
        <p class="user-interface-kurseEinsehen-optionen">Sachunterricht</p>
    </div>
    
    <div>
        <p class="user-interface-kurseEinsehen-optionen">Kunst</p>
        <p class="user-interface-kurseEinsehen-optionen">Sport</p>
        <p class="user-interface-kurseEinsehen-optionen">Religion</p>
    </div>
    
    <div>
        <p class="user-interface-kurseEinsehen-optionen">Englisch</p>
        <p class="user-interface-kurseEinsehen-optionen">Musik</p>
        <p class="user-interface-kurseEinsehen-optionen">Geschichte</p>
    </div>
</div>

{% endblock %}

