{% extends "base.html" %}

{% block title %}

Inhalte verwalten

{% endblock %}

{% block content %}
<h1 class="title">Profil auswählen:</h1>

{% if lehrer_liste %}
<div class="user-interface-klassen">
    <table class="userTabelle">
        <thead class="userTabelleHeader">
            <tr>
                <th class="userTabelleHeader">ID:</th>
                <th class="userTabelleHeader">Username:</th>
            </tr>
        </thead>
        <tbody>
            {% for lehrer in lehrer_liste %}
            <tr>
                <td class="userTabelleCellID">{{ lehrer["id"]}}</td>
                <td class="userTabelleCell"><a style="text-decoration: none;" href="{{ url_for('user_interactions.stundenplan_lehrer', lehrer_id=lehrer['id']) }}">{{ lehrer["username"] }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <p class="notFoundMsg">Es sind keine Lehrer vorhanden.</p>
</div>
{% endif %}

{% endblock %}