{% extends "base.html" %}

{% block title %}

Passwort zurücksetzen

{% endblock %}

{% block content %}

<div class="user-interface-resetPw">
        <form id="resetPwForm">
            <h1 class="title">Passwort zurücksetzen</h1>
            <div class="resetPwFormInput">
                <label for="password1">Neues Passwort:</label>
                <input type="password" name="password1" id="password1" class="inputField" minlength="12" maxlength="16" required>
            </div>
    
            <div class="resetPwFormInput">
                <label for="password2">Passwort bestätigen:</label>
                <input type="password" name="password2" id="password2" class="inputField" minlength="12" maxlength="16" required>
            </div>
            <p class="messageEl" style="display: none;"></p>
            <p class="anzeigenBtn">Passwort anzeigen</p>
            <button class="submitBtn" type="button">Speichern</button>
        </form>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/reset_pw.js') }}"></script>
{% endblock %}
