{% extends "base.html" %}

{% block title %}
Schüler verwalten
{% endblock %}

{% block content %}

<h1 class="title">Schülerliste</h1>

{% if students %}
<div class="user-interface-lehrer">
    <table class="userTabelle">
        <thead class="userTabelleHeader">
            <tr>
                <th class="userTabelleHeader">ID</th>
                <th class="userTabelleHeader">username</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td class="userTabelleCellID">{{ student["id"] }}</td>
                <td class="userTabelleCell"><a href="{{ url_for('user_interactions.teacher_student_detail', id=student['id']) }}">{{ student["username"] }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="notFoundMsg">Es sind keine Schüler vorhanden.</p>
{% endif %}
</div>

{% endblock %}