{% extends "base.html" %}

{% block title %}
Lehrer verwalten
{% endblock %}

{% block content %}

<h1 class="title">Lehrerliste</h1>

{% if teacher %}
<div class="user-interface-lehrer">
    <table class="userTabelle">
        <thead class="userTabelleHeader">
            <tr>
                
                <th class="userTabelleHeader">ID</th>
                <div class="addLehrerBtn">
                    <a href="{{ url_for('authentication.register') }}">
                        <span class="addLehrerBtnSpan">+</span>
                    </a>
                </div>
                <th class="userTabelleHeader">Benutzername</th>
            </tr>
        </thead>
        <tbody>
            {% for lehrer in teacher %}
            <tr>
                <td class="userTabelleCellID">{{ lehrer.id }}</td>
                <td class="userTabelleCell"><a href="{{ url_for('user_interactions.lehrer_detail', lehrer_id=lehrer.id) }}">{{ lehrer.username }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% else %}
    <p>Es sind keine Lehrer vorhanden.</p>
</div>
{% endif %}


{% endblock %}
